<h1><%= @fridge.name %></h1>

<%= form_tag fridge_path(@fridge), method: :get do %>
<p>Sort by: </p> <%= select_tag(:sort, options_for_select([["Expiring Soonest", "EXP ASC"], ["Most Days Until Expiration", "EXP DESC"], ["Name", "NAME"], ["Recently Added", "DATE DESC" ], ["In Fridge Longest", "DATE ASC"]], @previous_selection)) %>
<%= submit_tag "Sort" %>
<% end %>

<h2>Frozen Meals</h2>
	<table>
  <tr>
    <th>Name</th>
    <th>Date In</th>
    <th>Days Until Expiration</th>
  </tr>
		<% @frozen_servings.each do |meal| %>
	<tr>
    <td><%= meal.recipe.name %></td>
    <td><%= meal.date_in.strftime("%m/%d") %></td>
    <td><%= meal.expiration_message %></td>
	</tr>
		<% end %>
</table>
	 <%= button_to "Add a Meal", new_fridge_frozen_serving_path(@fridge), method: :get %>

<h2>Ingredients</h2>
	<table>
  <tr>
    <th>Name</th>
    <th>Date In</th>
    <th>Days Until Expiration</th>
  </tr>
		<% @fridge_ingredients.each do |ingredient| %>
	<tr>
    <td><%= ingredient.ingredient.name %></td>
    <td><%= ingredient.date_in.strftime("%m/%d") %></td>
    <td><%= ingredient.expiration_message %></td>
	</tr>
		<% end %>
</table>
	<%= button_to "Add an Ingredient", new_fridge_fridge_ingredient_path(@fridge), method: :get %>

<h2>Expired Items</h2>
<table>
<tr>
	<th>Name</th>
	<th>Expired On</th>
</tr>
	<% @fridge_ingredients.each do |ingredient| %>
<tr>
	<td><%= ingredient.ingredient.name %></td>
	<td><%= ingredient.date_in.strftime("%m/%d") %></td>
	<td><%= ingredient.expiration_message %></td>
</tr>
	<% end %>
</table>
