<div class="row">
	<div class="col-lg-6">
		<img src= <%= image_path('/images/fridge.png') %> >
	</div>

<h1><b>Add an Ingredient</b></h1>
<br>
<div class="col-lg-6">
<%= form_for [@fridge, @fridge_ingredient] do |f| %>
<div class="form-group">
	<%= f.label "Choose an Ingredient:" %>
	<%= f.collection_select :ingredient_id, @ingredients, :id, :name %> <br>
</div>
	<br>
<div class="form-group">
	<%= f.label "Or Create an Ingredient:" %><br>
	<%= f.label "Name" %>
	<%= text_field_tag :name %> <br>
</div>
<div class="form-group">
	<%= label_tag "Days Until Expiration:" %>
	<%= number_field_tag :expiration_days %> <br>
</div>
	<br>
<div class="form-group">
	<%= f.label "Date Purchased:"%>
 	<%= f.date_field :date_in %><br>
</div>
	<br>
	<%= f.submit "Add Ingredient", class: "btn-info" %>
<% end %>
</div>
</div>
