<!DOCTYPE html>
<html>
  <head>
    <title>Fridgey</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if session[:fridge_id] %>
    <%= link_to "My Fridge", fridge_path(session[:fridge_id]) %>
    <%= link_to "Analytics", fridge_analytics_path(session[:fridge_id]) %>
    <%= link_to "Log Out", '/logout', method: :post %>
    <% end %>

    <%= yield %>
  </body>
</html>
